<form method="post" action="{{ path('reponse_delete', {'reponseid': reponse.reponseid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse.reponseid) }}">
    <button class="btn">Delete</button>
</form>
