{{ form_start(form) }}
    {{ form_widget(form) }}
<label>Answer</label>
<select name="answer">
    <option value="option1">
        Option 1
    </option>
    <option value="option2">
        Option 2
    </option>
    <option value="option3">
        Option 3
    </option>
    <option value="option4">
        Option 4
    </option>
</select>
<label>Quiz</label>
<select name="quiz">
   
</select>
    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
