{% extends 'base.html.twig' %}

{% block title %}New FonctionPrincipale{% endblock %}

{% block body %}
    <h1>Create new FonctionPrincipale</h1>

    {{ include('fonction_principale/_form.html.twig') }}

    <a href="{{ path('fonction_principale_index') }}">back to list</a>
{% endblock %}
