{% extends 'base.html.twig' %}

{% block title %}New Emploi{% endblock %}

{% block body %}
    <h1>Create new Emploi</h1>

    {{ include('emploi/_form.html.twig') }}

    <a href="{{ path('emploi_index') }}">back to list</a>
{% endblock %}
