{% extends 'backend.html.twig' %}
{% block body %}
    <h1>Nouvel Evenement</h1>
    <br> </br>
    {{ form(form) }}

{% endblock %}
{% block body2 %}

{% endblock %}
{% block body3 %}
{% endblock %}



