{% extends 'base1.html.twig' %}

{% block title %}vide{% endblock %}

{% block body %}

    <h1>
        Vous etes a la recherche d'une <b>offre d'emploi</b> ?
        <br>
        <br>
        Bienvenu sur <b>Hireo</b> leader mondial du recrutement
        <br>
        <br>
        avec ses multiples offres quotidiennes et ses milliers
        d'entreprises qui lui font confiance !
        <br>
        <br>
        <b><a href="{{ path('personneAjoute') }}">Inscrivez vous</a> et passez a l'action</b>

    </h1>

{% endblock %}
